<section id="about">
  <h1>fold.me</h1>
  <p>If you'd like a screensaver (for OS X) that shows images of Scottish Fold cats, then this is for you:</p>
  <ol>
    <li>Download the <a href="https://dl.dropbox.com/u/8134194/foldme.qtz">screensaver</a></li>
    <li>Move that file to <code>~/Library/Screen Savers/</code></li>
    <li>Change your screensaver to 'foldme' in System Preferences <i class="icon-arrow-right"></i> Desktop &amp; Screen Saver</li>
  </ol>
</section>
