<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>fold.me</title>

    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0" />

    <style>
      body { padding-top: 80px; }
      .threecol { padding-bottom: 5em; }
      .thumbnail .btn-group { padding-top: 1em; }
    </style>

    <link rel="stylesheet" href="stylesheets/bootstrap.css"
          type="text/css" />

    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.css"
          type="text/css" />

	  <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-javascripts/ - Enables media queries in some unsupported browsers-->
	  <script type="text/javascript"
	          src="javascripts/css3-mediaqueries.js"></script>

    <script type="text/javascript"
            src="javascripts/jquery-1.7.2.js"></script>

    <script type="text/javascript"
            src="javascripts/bootstrap.js"></script>

    <script type="text/javascript"
            src="javascripts/foldme.js"></script>

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">fold.me</a>
          <div class="nav-collapse">
            <% if (loggedIn) { %>
              <ul class="nav">
                <li>
                  <a href="/curate">New Images</a>
                </li>
                <li>
                  <a href="/ignored">Ignored Images</a>
                </li>
              </ul>
            <% } %>

            <ul class="nav pull-right">
              <li>
                <a href="/about">About</a>
              </li>
              <% if (loggedIn) { %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown"
                     href="#">Hi, <%= user_name %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>
              <% } else { %>
                <li><a href="/auth/37signals">Login</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <%- body %>

      <footer>This site uses cookies - deal with it</footer>
    </div>

  </body>
</html>
